<a href="https://colab.research.google.com/github/Shaheryar893/list_dict_assignment/blob/main/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Create a list of 5 numbers
numbers = [10, 25, 34, 18, 47]

# Add an element to the list
numbers.append(55)
print("List after adding an element:", numbers)

# Remove one element (e.g., remove 18)
numbers.remove(18)
print("List after removing an element:", numbers)

# Find the maximum number in the list
max_num = max(numbers)
print("Maximum number in the list:", max_num)

# Find the minimum number in the list
min_num = min(numbers)
print("Minimum number in the list:", min_num)

List after adding an element: [10, 25, 34, 18, 47, 55]
List after removing an element: [10, 25, 34, 47, 55]
Maximum number in the list: 55
Minimum number in the list: 10

In [ ]:
# List of fruits
fruits = ['apple', 'banana', 'cherry', 'orange', 'kiwi', 'mango']

# Access the first, middle, and last element of the list
first_fruit = fruits[0]
middle_fruit = fruits[len(fruits) // 2]
last_fruit = fruits[-1]

print("First fruit:", first_fruit)
print("Middle fruit:", middle_fruit)
print("Last fruit:", last_fruit)

# Change the second element to 'blueberry'
fruits[1] = 'blueberry'

print("List after changing the second element:", fruits)

First fruit: apple
Middle fruit: orange
Last fruit: mango
List after changing the second element: ['apple', 'blueberry', 'cherry', 'orange', 'kiwi', 'mango']

In [ ]:
# Input: list of student names
student_names = input("Enter student names separated by commas: ").split(',')

# Remove any extra spaces and strip each name
student_names = [name.strip() for name in student_names]

# Sort the names in alphabetical order
student_names.sort()

# Print the sorted list of names
print("Sorted list of student names:", student_names)

Enter student names separated by commas: shaheryar,Rashid,Ali hassan
Sorted list of student names: ['Ali hassan', 'Rashid', 'shaheryar']

In [ ]:
# Input: list of integers
integers = list(map(int, input("Enter integers separated by spaces: ").split()))

# Print the first 3 elements
first_3 = integers[:3]
print("First 3 elements:", first_3)

# Print the last 2 elements
last_2 = integers[-2:]
print("Last 2 elements:", last_2)

# Print the entire list in reverse order
reversed_list = integers[::-1]
print("List in reverse order:", reversed_list)

Enter integers separated by spaces: 45 78 96 34
First 3 elements: [45, 78, 96]
Last 2 elements: [96, 34]
List in reverse order: [34, 96, 78, 45]

In [ ]:
# Input: list of elements
elements = input("Enter elements separated by spaces: ").split()

# Remove duplicates by converting the list to a set, then convert it back to a list
unique_elements = list(set(elements))

# Print the new list without duplicates
print("List without duplicates:", unique_elements)

Enter elements separated by spaces: 43 65 78 91 43 78 21
List without duplicates: ['43', '21', '65', '91', '78']

In [ ]:
# Create a dictionary with countries as keys and capitals as values
countries_and_capitals = {
    'France': 'Paris',
    'Japan': 'Tokyo',
    'Canada': 'Ottawa',
    'India': 'New Delhi',
    'Brazil': 'Brasília'
}

# Display all countries and their capitals
print("Countries and their capitals:")
for country, capital in countries_and_capitals.items():
    print(f"{country}: {capital}")

Countries and their capitals:
France: Paris
Japan: Tokyo
Canada: Ottawa
India: New Delhi
Brazil: Brasília

In [ ]:
# Given dictionary
student = {'name': 'John', 'age': 22, 'grade': 'B'}

# Update the 'grade' value to 'A'
student['grade'] = 'A'

# Add a new key-value pair for 'major' with the value 'Computer Science'
student['major'] = 'Computer Science'

# Print the updated dictionary
print("Updated student dictionary:", student)

Updated student dictionary: {'name': 'John', 'age': 22, 'grade': 'A', 'major': 'Computer Science'}

In [ ]:
# Create a dictionary with subjects as keys and lists of marks as values
marks = {
    'Math': [85, 90, 78],
    'Science': [88, 92, 80],
    'English': [75, 80, 85]
}

# Calculate and print the average marks for each subject
print("Average marks for each subject:")
for subject, scores in marks.items():
    average = sum(scores) / len(scores)
    print(f"{subject}: {average:.2f}")

Average marks for each subject:
Math: 84.33
Science: 86.67
English: 80.00